@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <table>
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Created_At</th>
            </tr>
        </thead>
        <tbody>
            @* @foreach (var t in Model)
            {
                <tr>
                    <td class="todos-column" scope="row">@t.Id</td>
                    <td class="todos-column">@t.Name</td>
                </tr>
            } *@
            <tr>
                <td>anthony</td>
                <td>oppus</td>
                <td>anthony</td>
                <td>minor changes</td>
            </tr>
        </tbody>
    </table>
</div>
